body{
    margin:0;
}
input[type=text]{
    margin-top: 172px;
    padding: 12%;
    font-size: 21px;
    border-radius:none;
    border:none;
    box-shadow: 0px 0px 14px 3px rgb(190 218 231);

}
input[type=button]{
    padding: 39%;
    border-radius: 20px;
    border:none;
    margin-top: 18px;
    margin-left: 18px;
    margin-right: auto;
    background-color: #fff;
    color:#000;
    font-size: 20px;
    box-shadow: 0px 0px 14px 3px rgb(190 218 231);
}
